{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'includes/shopheader.html' %}
{% endblock %}

{% block content %}
<div class="container d-flex justify-content-center">
    <div class="container mb-2">
        <div class="row">
                <div class="col">
                    <hr>
                    <h2 class="logo-font mb-4">Shopping Bag</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {% if bag_items %}
                        <div class="table-responsive rounded"></div>
                    {% else %}
                        <p class="lead mb-5">Your bag is empty.</p>
                        <a href="{% url 'products' %}" class="btn btn-light btn-lg">
                            <span class="bold">Continue Shopping</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>     
    </div>
</div>

{% endblock %}
