{% extends 'base.html' %}
{% load static %}

{% block title %} Home{% endblock %} 

{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="hero">
        <img src="{% static 'images/general/hero.webp' %}" class="img-fluid" alt="Painting of water lilies">
      </div>
    </div>
  </div>
</div>
<div class="container d-flex justify-content-evenly ">
  <div class="row">   
    <div class="col">
      <a class="btn btn-light btn-lg" href="{% url 'about' %}">About the Artist</a>
    </div>
    <div class="col">
      <a class="btn btn-light btn-lg" href="{% url 'gallery' %}">Visit Gallery</a>
    </div>
    <div class="col">
      <a class="btn btn-light btn-lg" href="{% url 'shop' %}">Visit Shop</a>
    </div>
  </div>
</div>
{% endblock %}
