{% extends 'base.html' %}
{% load static %}

{% block title %}-Home{% endblock %} 

{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="row">
      <div class="col">
        <div class="hero">
          <img src="{% static 'images/hero.webp' %}" class="img-fluid" alt="Painting of water lilies">
        </div>
    
    
    <div class="row">
    
      <div class="col">
        <img src="{% static 'images/....webp' %}" class="img-fluid" alt="...">
      </div>
        <a class="btn btn-light" href="#miniatures">Shop</a>
    </div>
    <br>
    <h4>Paintings</h4>
    <div class="row">
      <div class="col">
        <img src="{% static 'images/....webp' %}" class="img-fluid" alt="...">
      </div>
      <div>
        <a href="#miniatures" class="btn btn-light">Shop Miniatures</a>
      </div>  
    </div>
  </div>
{% endblock %}
