{% extends 'base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %} 

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'gallery/gallery.css' %}">
{% endblock %}

{% block header %}
{% include 'includes/header.html' %}
{% endblock %}

{% block content %}
<div class="row">
    {% for painting in gallery %}
      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        <div class="gallery" >
          <img class="col-md-auto paintings" src={{painting.image.url}}>
        </div>  
          <div class="justify-content-center title"><p >{{painting.title}} {{painting.year}}</p></div>    
      </div>  
    {% endfor %}
</div>    
{% endblock %}  
      

