/* font */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

/* general styles */
body {
    font-family: 'Nunito Sans', sans-serif;;
    color: #2d3232;
}
nav {
    padding-bottom: 20px !important;
}
.btn-light {
    padding: 5px;
    box-shadow: 5px 10px 8px #888888;
}

/* navbar styles */
.bg-body-tertiary {
    background-color: white !important;
}
.navbar-brand img {
    width: 350px
}
.navbar .navbar-nav .nav-item {
    padding: .5em 2em;
}
.navbar .navbar-nav .nav-link {
    color: #434c4c;
    font-size: 1.3em;
}
@media screen and (max-width: 576px) {
    .navbar-brand img {
        width: 200px
    }
}
@media screen and (min-width: 992px) {
    .navbar-brand {
        border-bottom: 2px solid #2d3232;
    }
}
@media screen and (min-width: 992px) {
    .navbar .container-fluid{
        flex-direction: column;
    }
}

/* products */
.product-cards {
    margin: 10px;
}
.card-body {
    text-align: center;
    font-size: 16px;
}
.icons{
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    font-size: 110%;
}
.icons i {
    color:#2d3232;
    text-align: center;
    padding-right: 30px;
}

/* product detail */
.detail-img {
    padding-top: 10px;
}
.detail-title {
    font-weight: bold;
}
/* shop */
.shop-painting {
    width: 100%;
    padding: 0 20px 40px;
}
