{% load static %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'images/general/logo.webp' %}" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav">
      {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
              <a class="nav-link" a href="{% url 'add_product' %}">Admin</a>
          {% endif %}
          <a class="nav-link" aria-current="page" href="{% url 'shop' %}">Home</a>
          <a class="nav-link" href="{% url 'profile' %}">My Profile</a>  
          <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
          <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
      {% else %}
          <a class="nav-link" aria-current="page" href="{% url 'shop' %}">Home</a>
          <a class="nav-link" href="{% url 'faq' %}">FAQ</a>
          <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
          <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      {% endif %}
          <a class="nav-link list-inline-item" href="{% url 'view_bag' %}">
              <div><i class="fas fa-shopping-bag fa-lg bag"></i></div>
              <p class="my-0">
                  {% if grand_total %}
                      €{{ grand_total|floatformat:2 }}
                  {% else %}
                      €0.00
                  {% endif %}
              </p>
          </a>  
      
        </div>
      </div>
    </div>  
  </nav>
