{% extends 'shop/shop_base.html' %}
{% load static %}

<body>
    <main>
        {% block content %}
    <div class="row">
        <div class="col-md-6" class="justify-content-center">
             
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                    <img class="card-img-top img-fluid" src="{{product.image.url}}" alt="{{product.title}}">
                    <div>"{{product.price}}"</div>
                </div>       
          
                
        </div>
    

{% endblock %}
    
