{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'includes/shopheader.html' %}
{% endblock %}

{% if messages %}
      <div class="message-container"></div>
{% endif %}

{% block content %}
<body>
    <main>
        <div class="row justify-content-center">
            <div class="card " style="width: 40rem;" >
                <div class="detail-img">
                    <img class="card-img-top" src={{product.image.url}}>
                </div>    
                <div class="card-body detail">
                    <p class="detail-title">{{product.title}}</p>
                    <p>{{product.width}}mm X {{product.height}}mm</p>
                    <p class="card-price">€ {{product.price}}</p>
                    <p>{{product.description}}</div>
                </div>
            </div>
        </div>
    </main>      
{% endblock %}
