{% extends 'base.html' %}
{% load static %}

{% block header %}
{% include 'includes/shopheader.html' %}
{% endblock %}

{% if messages %}
      <div class="message-container"></div>
{% endif %}

{% block content %}
<div class="container-fluid">
    <div class="row">
    {% for product in products %}
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
            <div class="card product-cards" >
                <img class="card-img-top" src={{product.image.url}}>
                <div class="card-body">
                    <p class="card-title">{{product.title}}</p>   
                    <p class="card-price">€ {{product.price}}</p>
                        <ul class="icons">
                            <li><a href="{% url 'detail' product.pk %}"><i class="fa fa-eye"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
                            <li><a href="#"><i class="fa fa-shopping-cart"></i></a></li>
                        </ul>
                </div>
            </div> 
        </div>
   

    {% endfor %} 
    </div>
</div>   
{% endblock %}
