{% extends 'base.html' %}
{% load static %}

{% block title %} Shop{% endblock %} 

{% block header %}
{% include 'includes/shopheader.html' %}
{% endblock %}

{% if messages %}
      <div class="message-container"></div>
{% endif %}

{% block content %}
  <div class="row">
        <h3 class="products-title d-flex justify-content-center" >Available Art</h3>
        {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
              <div class="card product-cards" >
                <img class="card-img-top" src={{product.image.url}}>
                <div class="card-body">
                  <p class="card-title">{{product.title}}</p>   
                  <p class="card-price">€ {{product.price}}</p>
                  <div>
                      <a href="{% url 'detail' product.pk %}"class="icon" ><i class="fa fa-eye"></i></a>
                      <a href="{% url 'view_bag' %}"class="icon" ><i class="fa-solid fa-cart-arrow-down"></i></a>
                      {% if request.user.is_superuser %}
                        <small class="ml-3">
                          <a href="{% url 'edit_product' product.id %}">Edit</a> | 
                          <a class="text-danger" href="{% url 'delete_product' product.id %}">Delete</a>
                        </small>
                      {% endif %}
                  </div>
                </div>
              </div> 
            </div>
              
        {% endfor %}  
    </div>


{% endblock %}
