{% extends 'base.html' %}
{% load static %}
{% block header %}
{% include 'includes/shopheader.html' %}
{% endblock %}
{% if messages %}
      <div class="message-container"></div>
{% endif %}
{% block content %}
<div class=" row justify-content-center">
    <div class="card text-center " style="width: 50rem;">
        <img class="card-img-top" src={{product.image.url}}>
        <div class="card-body">
           <h5 class="card-title">{{product.title}}</h5>
           <p class="card-text">Miniature oil paintings are a great way to add art to the decor without committing a lot of space.</p>
        <a href="#" class="btn btn-primary">Shop Miniatures</a>
    </div>
</div>

{% endblock %}
